
html,
body {
  height: 100%;
  background-color: #000;  
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column!important;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
}

.loader {
    z-index: 9999;       
    display: flex!important;
    flex-direction: column!important;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 3rem;
    background-color: black;
    transition-property: opacity, z-index;
    -webkit-transition: 7s;
    transition: 7s;
}

.loader::before {
    box-sizing: border-box;
}

.loader::after {
    box-sizing: border-box;
}

.loader div {
    padding: 1rem;
}

.load-minim {
    height: 0;
    width: 0;
}